html{
  width:  100%;
  height: 100%;
  margin: 0%;
  padding:0%;
  overflow: hidden;
}
body{
width:  100%;
height: 100%;
margin: 0%;
padding:0%;
display: flex;
justify-content: center;
align-items:center;
overflow: hidden;
background-color: black;
}
#camera{
  padding:0px;
  margin-top:0px;
  margin-bottom:0px;
}

/*Ranged slider stuff*/
#slider-container{
  position:absolute;
  width:100%;
  height:100%;
  margin:0%;
  padding: 0%;
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
}

#gimble{
  width:200px;
  height: 70px;
}
#throttle{
  width:70px;
  height: 200px;
}
.slider:hover {
  opacity: 1;
}
.slider{


}
